<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet">
    <script src="/js/ie-emulation-modes-warning.js"></script>

    <link rel="stylesheet" href="/css/editormd.min.css"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
  </head>

  <body>

  <div th:replace="/blog/header::copy"></div>

  <div class="container">
    <div id="layout"  class="editor">
      <div id="test-editormd" >
        <textarea>#### 11111</textarea>
      </div>
    </div>
  </div>
  <script>
    testEditor = editormd.markdownToHTML("test-editormd", {
      htmlDecode      : "style,script,iframe",  // you can filter tags decode
      emoji           : true,
      taskList        : true,
      tex             : true,  // 默认不解析
      flowChart       : true,  // 默认不解析
      sequenceDiagram : true,  // 默认不解析
    });
  </script>

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  <script src="/js/ie10-viewport-bug-workaround.js"></script>

    <script src="/js/marked.min.js"></script>
    <script src="/js/prettify.min.js"></script>
    <script src="/js/raphael.min.js"></script>
    <script src="/js/underscore.min.js"></script>
    <script src="/js/sequence-diagram.min.js"></script>
    <script src="/js/flowchart.min.js"></script>
    
  </body>
</html>
