<!DOCTYPE html>
<html  lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <br>
    <div>
        <form action="/cms/category" method="post">
            <select name="gate.id">
                <option >选择分类</option>
                <option th:value ="${gate.id}" th:text="${gate.name}" th:each="gate:${gates}"></option>
            </select>
            <input type="submit" value="分类查询"/>
        </form>
    </div>
    <br>
    <table class="table table-bordered table-hover">
        <tr>
            <th>名称</th>
            <th>分类</th>
            <th>操作</th>
        </tr>
        <tr>
            <form action="/cms/category/save" method="post">
                <td><input type="text" name="name"></td>
                <td>
                    <select name="gate.id">
                        <option th:value ="${gate.id}" th:text="${gate.name}" th:each="gate:${gates}"></option>
                    </select>
                </td>
                <td>
                    <input type="submit" value="增加"/></span>
                </td>
            </form>
        </tr>
        <tr th:each="category,index:${categorys}">
            <form action="/cms/category/save" method="post">
                <td>
                    <input type="hidden" name="id" th:value="${category.id}">
                    <input type="text" name="name" th:value="${category.name}">
                </td>
                <td>
                    <select name="gate.id">
                        <option th:value ="${gate.id}" th:text="${gate.name}" th:each="gate:${gates}"></option>
                    </select>
                </td>
                <td>
                    <button>
                        <a th:href="@{'/cms/category/delete?id='+${category.id}}">
                            删除</span>
                        </a>&nbsp
                    </button>
                    <input type="submit" value="保存"/>
                </td>
            </form>
        </tr>
    </table>
</div>
</body>
</html>