<!DOCTYPE html>
<html  lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <br>
    <div>
        <form action="/cms/site" method="post">
            <select name="category.id">
                <option >选择分类</option>
                <option th:value ="${category.id}" th:text="${category.name}" th:each="category:${categorys}"></option>
            </select>
            <input type="submit" value="分类查询"/>
        </form>
    </div>
    <br>
    <table class="table table-bordered table-hover">
        <tr>
            <th>名称</th>
            <th>连接</th>
            <th>一级分类</th>
            <th>二级分类</th>
            <th>操作</th>
        </tr>
        <tr>
            <form action="/cms/site/save" method="post">
                <td><input type="text" name="name"></td>
                <td><input type="text" name="link"></td>
                <td>
                    <select gate="gate">
                        <option>请选择</option>
                    </select>
                </td>
                <td>
                    <select name="category.id">
                        <option>请先选择一级分类</option>
                    </select>
                </td>
                <td>
                    <input type="submit" value="增加"/></span>
                </td>
            </form>
        </tr>
        <tr th:each="site,index:${sites}">
            <form action="/cms/site/save" method="post">
                <td>
                    <input type="hidden" name="id" th:value="${site.id}">
                    <input type="text" name="name" th:value="${site.name}">
                </td>
                <td><input type="text" name="link" th:value="${site.link}"></td>
                <td>
                    <select gate="gate">
                        <option th:value ="${site.category.gate.id}" th:text="${site.category.gate.name}"></option>
                    </select>
                </td>
                <td>
                    <select name="category.id">
                        <option th:value ="${site.category.id}" th:text="${site.category.name}"></option>
                    </select>
                </td>
                <td>
                    <button>
                        <a th:href="@{'/cms/site/delete?id='+${site.id}}">
                            删除</span>
                        </a>&nbsp
                    </button>
                    <input type="submit" value="保存"/>
                </td>
            </form>
        </tr>
    </table>
</div>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    //https://blog.csdn.net/weixin_39877284/article/details/82024185  二级联动
    $(function () {
        $.ajax({
            type: "GET",
            url: "/cms/gate/options",
            dataType: "json",
            success: function (json) {
                $.each(json, function (i, item) {
                    console.log(i);
                    $("select[gate=gate]").append(
                        '<option value="'+item.id+'">'+item.name+'</option>'
                    )
                })
            }
        });
        $(select[gate='gate']).append()
    })
</script>
</body>
</html>