<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/mditor@1.0.5/dist/css/mditor.min.css" />
	<script src="https://unpkg.com/mditor@1.0.5/dist/js/mditor.min.js"></script>
	
</head>
<body>
	<!-- 顶部导航 -->
	<div th:replace="/blog/header::header('Article')"></div>
	<!-- 文章区 -->
	<div class="container">
		<div id="layout">
            <div id="test-editormd-view2">
                <textarea id="append-test" style="display:none;">### Linux CentOS7 安装Jdk

#### 1.下载安装包并上传至服务器:

```
# pwd
/home/download
# ll
-rw-r--r-- 1 root root   5520417 Nov  6 09:31 rabbitmq-server-3.6.5-1.noarch.rpm
```

#### 2.解压安装包: ` tar -zxvf 文件名`

```shell
#  tar -zxvf jdk-8u121-linux-x64.tar.gz
jdk1.8.0_121/
jdk1.8.0_121/THIRDPARTYLICENSEREADME-JAVAFX.txt
jdk1.8.0_121/THIRDPARTYLICENSEREADME.txt
...
jdk1.8.0_121/man/ja_JP.UTF-8/man1/jcmd.1
jdk1.8.0_121/man/ja_JP.UTF-8/man1/javapackager.1
jdk1.8.0_121/man/ja_JP.UTF-8/man1/jstat.1
```
得到解压文件夹`jdk1.8.0_121`
```
#ll
drwxr-xr-x 8   10  143      4096 Dec 13  2016 jdk1.8.0_121
-rw-r--r-- 1 root root 183246769 Nov  5 18:12 jdk-8u121-linux-x64.tar.gz
```

#### 3.移动到指定目录:

将解压后的【jdk1.8.0_131】里面的所有数据移动到我们需要安装的文件夹当中.这里选择/usr/java

  ```
  # mkdir /usr/java
  # ll /usr/
  total 136
  dr-xr-xr-x.   2 root root 36864 Nov  6 09:52 bin
  drwxr-xr-x.   2 root root  4096 Apr 11  2018 etc
  drwxr-xr-x.   2 root root  4096 Apr 11  2018 games
  drwxr-xr-x.  43 root root  4096 Nov  5 17:53 include
  drwxr-xr-x    2 root root  4096 Nov  6 11:43 java
  dr-xr-xr-x.  36 root root  4096 Nov  5 18:14 lib
  dr-xr-xr-x.  47 root root 36864 Nov  6 09:52 lib64
  drwxr-xr-x.  25 root root  4096 Nov  5 08:48 libexec
  drwxr-xr-x.  13 root root  4096 Nov  5 17:54 local
  dr-xr-xr-x.   2 root root 20480 Nov  6 09:53 sbin
  drwxr-xr-x. 103 root root  4096 Nov  5 18:10 share
  drwxr-xr-x.   4 root root  4096 May 30  2018 src
  lrwxrwxrwx.   1 root root    10 May 30  2018 tmp -> ../var/tmp
  
  # mv jdk1.8.0_121/ /usr/java/
  # cd /usr/java/
  # ll
  total 4
  drwxr-xr-x 8 10 143 4096 Dec 13  2016 jdk1.8.0_121
  ```
  
  #### 4.配置环境变量
  
  修改文件`/etc/profile`:
  
  ```
  vim /etc/profile
  ```
  
  在末尾加上:
  
  ```
  export JAVA_HOME=/usr/java/jdk1.8.0_131
  export JRE_HOME=${JAVA_HOME}/jre
  export CLASSPATH=.:${JAVA_HOME}/lib:${JRE_HOME}/lib:$CLASSPATH
  export JAVA_PATH=${JAVA_HOME}/bin:${JRE_HOME}/bin
  export PATH=$PATH:${JAVA_PATH}
  ```
  JAVA_HOME后面是jdk的绝对路径 
  保存完之后，重启机器或通过命令`source /etc/profile`让profile文件立即生效:
  ```
  source /etc/profile
  ```
                </textarea>          
            </div>
        </div>
	</div>
	<br>
	
</body>
	<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
	<!-- Bootstrap核心JS文件 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- editormd JS文件-->
    <script src="/lib/marked.min.js"></script>
    <script src="/lib/prettify.min.js"></script>
    <script src="/lib/raphael.min.js"></script>
    <script src="/lib/underscore.min.js"></script>
    <script src="/lib/sequence-diagram.min.js"></script>
    <script src="/lib/flowchart.min.js"></script>
    <script src="/lib/jquery.flowchart.min.js"></script>
    <script src="/js/editormd.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var testEditormdView2;
            testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
                htmlDecode      : "style,script,iframe",  // you can filter tags decode
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true,  // 默认不解析
            });
        });
    </script>
</html>