<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet">
    <script src="/js/ie-emulation-modes-warning.js"></script>
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Slient</a>
          <a class="blog-nav-item" href="#">New features</a>
          <a class="blog-nav-item" href="#">Press</a>
          <a class="blog-nav-item" href="#">New hires</a>
          <a class="blog-nav-item" href="#">About</a>
        </nav>
      </div>
    </div>

    <div class="container main">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Spring IoC 容器和 bean</h3>
        </div>
        <div class="panel-body row">
          <div class="col-sm-8">
            
            IoC 也就是被大家所熟知的依赖注入（DI）。他是一个对象定义他的依赖的一个过程，所谓依赖，就是和它一起工作的对象，这个过程只能通过构造函数的参数，工厂方法的参数，或者已经被构造或者从工厂方法返回的对象的 setter 方法设置其属性来实现。接着容器在创建Bean后注入这些依赖。这个过程从根本上来讲是反向的，由于bean自己控制实例，或者直接通过类的结构，类似于 Service Locator 模式来定位他的依赖。
          </div>
          <div class="col-sm-4">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1573382031052&di=dcb4232ff3bc3a633cc7738365dd7c29&imgtype=0&src=http%3A%2F%2Fimgb.mumayi.com%2Fandroid%2Fscreenshot%2F000%2F92%2F42%2F90%2F360_600_2.jpg" class="atricle-img">
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Spring IoC 容器和 bean</h3>
        </div>
        <div class="panel-body row">
          <div class="col-sm-8">
            
            IoC 也就是被大家所熟知的依赖注入（DI）。他是一个对象定义他的依赖的一个过程，所谓依赖，就是和它一起工作的对象，这个过程只能通过构造函数的参数，工厂方法的参数，或者已经被构造或者从工厂方法返回的对象的 setter 方法设置其属性来实现。接着容器在创建Bean后注入这些依赖。这个过程从根本上来讲是反向的，由于bean自己控制实例，或者直接通过类的结构，类似于 Service Locator 模式来定位他的依赖。
          </div>
          <div class="col-sm-4">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1573382031052&di=dcb4232ff3bc3a633cc7738365dd7c29&imgtype=0&src=http%3A%2F%2Fimgb.mumayi.com%2Fandroid%2Fscreenshot%2F000%2F92%2F42%2F90%2F360_600_2.jpg" class="atricle-img">
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Spring IoC 容器和 bean</h3>
        </div>
        <div class="panel-body row">
          <div class="col-sm-8">
            
            IoC 也就是被大家所熟知的依赖注入（DI）。他是一个对象定义他的依赖的一个过程，所谓依赖，就是和它一起工作的对象，这个过程只能通过构造函数的参数，工厂方法的参数，或者已经被构造或者从工厂方法返回的对象的 setter 方法设置其属性来实现。接着容器在创建Bean后注入这些依赖。这个过程从根本上来讲是反向的，由于bean自己控制实例，或者直接通过类的结构，类似于 Service Locator 模式来定位他的依赖。
          </div>
          <div class="col-sm-4">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1573382031052&di=dcb4232ff3bc3a633cc7738365dd7c29&imgtype=0&src=http%3A%2F%2Fimgb.mumayi.com%2Fandroid%2Fscreenshot%2F000%2F92%2F42%2F90%2F360_600_2.jpg" class="atricle-img">
          </div>
        </div>
      </div>
    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    
  </body>
</html>
