<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 移动设备优先 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html,body{
            height: 100%;
            background: rgb(237, 237, 237);
        }
        .jumbotron{
            color: #adadad;
            /*background: url("/static/img/1.jpg");*/
        }
        #myTabContent{

        }
    </style>
</head>
<body>
<div class="container" style="height: 100%;background: #f7f7f7;">

    <div class="jumbotron text-center" >
        <p th:text="${slogan}"></p>
    </div>

    <ul id="myTab" class="nav nav-tabs">
        <li th:each="gate,index:${gates}" th:class="${index.first}?'active'" >
            <a th:href="'#'+${gate.id}" th:text="${gate.name}" onclick="showPage(this)"></a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content" style="background: #ffffff">
        <div th:each="gate,index:${gates}" th:id="${gate.id}" th:class="${index.first}?'tab-pane fade in active':'tab-pane fade'" >
            <h3 th:text="${gate.name}"></h3>
        </div>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function(){
        //页面加载完毕 , 渲染首页首页数据
        showPage($("#myTab a").first());
    })

    function showPage(tabdom){
        var id = $(tabdom).attr("href");
        $(tabdom).tab('show');
        $(''+id).html('<h3>正在加载数据 . . .</h3>');
        var eval1 = eval("id",id);
        $(''+id).load("/gateData",{"gateId":id});
    }
</script>
</body>
</html>