<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 移动设备优先 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html,body{
            height: 100%;
            background: rgb(237, 237, 237);
        }
        .jumbotron{
            color: #adadad;
            background: url("/static/img/1.jpg");
        }
    </style>
</head>
<body>
<div class="container" style="height: 100%;background: #f7f7f7;">

    <div class="jumbotron text-center" >
        <p th:text="${slogan}"></p>
    </div>

    <ul id="myTab" class="nav nav-tabs">
        <li th:each="gate,index:${gates}" th:class="${index.first}?'active'" ><a th:href="'#'+${gate.id}" th:text="${gate.name}" data-toggle="tab"></a></li>
    </ul>
    <div id="myTabContent" class="tab-content" style="background: #ffffff">
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function(){
        $.ajax({
            type: "GET",
            url: "/gateData",
            dataType: "json",
            success: function (json) {
                $.each(json, function (i, item) {
                    if (i==0){
                        $('#myTabContent').append(
                            '<div class="tab-pane fade in active" id="'+item.id+ '">'+
                            '<div class="container" style="line-height: 3;" id="'+'son'+item.id+'">'+'</div></div>'
                        );
                    }else{
                        $('#myTabContent').append(
                            '<div class="tab-pane fade" id="'+item.id+ '">'+
                            '<div class="container" style="line-height: 3" id="'+'son'+item.id+'">'+'</div></div>'
                        );
                    }
                    $.each(item,function(j ,jtem){
                        if (j!='id'){
                            $('#son'+item.id).append(
                                '<p><span class="glyphicon glyphicon-menu-down">'+j+'</p>'
                            );
                            $.each(jtem,function(h,htem){
                                $('#son'+item.id).append(
                                    '<button type="button" class="btn btn-default btn-lg">'+
                                    '<a target="_blank" href="http://'+htem.link+'">'+htem.name+'</a>'+
                                    '</button>'
                                );
                            });
                        }
                    });
                });
            }
        });
    });
</script>
</body>
</html>