<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="../static/css/pintuer.css">
    <link rel="stylesheet" href="../static/css/admin.css">
    <script src="../static/js/jquery.js">
    </script>
    <script src="../static/js/pintuer.js">
    </script>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head">
        <strong><span class="icon-pencil-square-o"></span> 修改网站</strong>
    </div>
    <div class="body-content">
        <form method="post" class="form-x" action="AdminServlet">
            <div class="form-group">
                <div class="label">
                    <label>
                        ID：
                    </label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="id" value="${book.id}"
                           style="width: 25%;" required="required" readonly="readonly" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>
                        名称：
                    </label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="bookname"
                           value="${book.name}" style="width: 25%;" required="required" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>
                        链接：
                    </label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="author"
                           value="${book.author}" style="width: 25%;" required="required" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>
                        简介：
                    </label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="number"
                           value="${book.number}" style="width: 25%;" required="required" />
                    <div class="tips"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>
                        分类：
                    </label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="type" value="${book.type}"
                           style="width: 25%;" required="required" />
                    <div class="tips"></div>
                </div>
            </div>

            <div class="field">
                <button class="button bg-main icon-check-square-o" type="submit">
                    修改
                </button>
                <input type="hidden" name="method" value="updateBook">
            </div>
        </form>
    </div>
</div>
</body>
</html>